p{
    color: #9c0000; 
    font-size: 16px;
}

h1{
    color: #4b4b4b; 
    font-size: 20px;
}

title{
    color: #000000; 
    font-size: 24px;
}

nav {
    display: flex;
  gap: 15px;
  padding: 15px 25px;
  background-color: #222;
}

.boton-proyectos {
  display: inline-block;
  background-color: #e63946;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 6px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
}
nav a:hover {
  background-color: #444;
}
h1,
p {
  margin-left: 25px;
  margin-right: 25px;
}
.texto {
  color: #555;
  line-height: 1.6;
}